@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
.btn-main {
    background-color: #3fbb92;
    border-color: #3fbb92;
    border-radius: 100px !important;
    min-width: 210px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.btn-main.active,
.btn-main.active.focus,
.btn-main.active:focus,
.btn-main.active:hover,
.btn-main.focus,
.btn-main:active,
.btn-main:active.focus,
.btn-main:active:focus,
.btn-main:active:hover,
.btn-main:focus,
.btn-main:hover {
    background-color: #3fbb92;
    border-color: #3fbb92;
    color: #fff;
}
.btn-alternate {
    background-color: transparent;
    border-color: #3fbb92;
    border-radius: 100px !important;
    min-width: 210px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3fbb92;
}
.btn-alternate.active,
.btn-alternate.active.focus,
.btn-alternate.active:focus,
.btn-alternate.active:hover,
.btn-alternate.focus,
.btn-alternate:active,
.btn-alternate:active.focus,
.btn-alternate:active:focus,
.btn-alternate:active:hover,
.btn-alternate:focus,
.btn-alternate:hover {
    background-color: #3fbb92;
    border-color: #3fbb92;
    color: #fff;
}
.btn-text {
    background-color: transparent;
    border: 0 none transparent;
    padding: 30px 15px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.btn-text.active,
.btn-text.active.focus,
.btn-text.active:focus,
.btn-text.active:hover,
.btn-text.focus,
.btn-text:active,
.btn-text:active.focus,
.btn-text:active:focus,
.btn-text:active:hover,
.btn-text:focus,
.btn-text:hover {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.dashboard .do-save {
    color: #3fbb92;
}
@media (min-width: 992px) {
    .dashboard .do-save {
        margin-right: -15px;
    }
}
.dashboard .do-cancel {
    color: #81818e;
}
@media (min-width: 1440px) {
    .col-hg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}
.navbar-expand-lg .navbar-toggler {
    display: block;
}
.navbar-expand-lg .navbar-toggler:active,
.navbar-expand-lg .navbar-toggler:hover,
.navbar-expand-lg .navbar-toggler:focus {
    background-color: #fafafa;
}
.c-offcanvas,
.c-offcanvas-content-wrap {
    padding-top: 50px;
    padding-bottom: 0;
    min-height: 100vh;
}
@media (min-width: 992px) {
    .c-offcanvas,
    .c-offcanvas-content-wrap {
        padding-top: 80px;
        padding-bottom: 0;
    }
}
.c-offcanvas--right {
    width: 100vw;
    transform: translate3d(100vw, 0, 0);
}
.c-offcanvas-content-wrap--push.c-offcanvas-content-wrap--right.is-open {
    height: 100vh;
    overflow: hidden;
    transform: translate3d(-100vw, 0, 0);
}
.c-offcanvas-bg.c-offcanvas-bg--push.c-offcanvas-bg--right.is-open {
    transform: translate3d(-100vw, 0, 0);
}
.c-offcanvas-bg.is-animating,
.c-offcanvas-bg.is-open {
    background: rgba(0, 0, 0, 0.5);
}
#offCanvas {
    background-color: #353e4e;
    color: #fff;
}
.dashboard #offcanvas-header {
    background-color: #353e4e;
    border-bottom: 1px solid #474e60;
    min-height: 50px;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-header {
        min-height: 80px;
    }
}
@media (min-width: 992px) {
    .dashboard #offcanvas-header .container-fluid,
    .dashboard #offcanvas-footer .container-fluid,
    .dashboard #offcanvas-main .block .container-fluid {
        padding-left: 80px;
        padding-right: 80px;
    }
}
.dashboard #offcanvas-header .navbar-brand {
    background-color: transparent;
    margin: 0 !important;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    display: block;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-header .navbar-brand {
        margin-left: -15px !important;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 27px;
        line-height: 30px;
    }
}
.dashboard #offcanvas-header .navbar-brand > .icon {
    margin-right: 20px;
    font-size: 20px;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-header .navbar-brand > .icon {
        font-size: 25px;
    }
}
.dashboard #offcanvas-header #offCanvasClose {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-header #offCanvasClose {
        margin-right: -15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.dashboard #offcanvas-header #offCanvasClose > .icon {
    display: block;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-main {
        min-height: calc(100vh - 160px) !important;
    }
}
.dashboard #offcanvas-main h4 {
    margin: -6px -2px -9px;
    line-height: 35px;
    font-size: 27px;
    font-weight: 700;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-main h4 {
        margin: -9px -2px -11px;
        line-height: 45px;
        font-size: 34px;
    }
}
.dashboard #offcanvas-main h4 + form {
    padding-top: 50px;
}
.dashboard #offcanvas-main .form-style label {
    margin-top: -7px;
    margin-bottom: -8px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
}
.dashboard #offcanvas-main .form-style label + textarea.form-control {
    margin-top: 12px;
}
.dashboard #offcanvas-main .form-style label + .form-control,
.dashboard #offcanvas-main .form-style label + .custom-select {
    margin-top: 5px;
}
.dashboard #offcanvas-main .form-style .form-group + .form-group {
    padding-top: 30px;
}
.dashboard #offcanvas-main .form-style .form-row + .form-row {
    padding-top: 20px;
}
.dashboard #offcanvas-main .form-style textarea {
    resize: none;
}
.dashboard #offcanvas-main .form-style .form-control,
.dashboard #offcanvas-main .form-style .custom-select {
    background-color: transparent;
    border: 0 none transparent;
    border-bottom: 2px solid #fff;
    padding: 0;
    position: relative;
    line-height: 30px;
    font-size: 20px;
    color: #ffc64e;
}
.dashboard #offcanvas-main .form-style .form-control:focus,
.dashboard #offcanvas-main .form-style .custom-select:focus {
    border-color: #fff;
    color: #ffc64e;
    box-shadow: none;
}
.dashboard #offcanvas-main .form-style .form-control::placeholder,
.dashboard #offcanvas-main .form-style .custom-select::placeholder {
    color: #81818e;
}
.dashboard #offcanvas-main .form-style .form-control[readonly],
.dashboard #offcanvas-main .form-style .custom-select[readonly] {
    border-color: transparent !important;
    color: #81818e !important;
}
.dashboard #offcanvas-main .form-style .custom-select + .arrow {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-main .base {
        padding-top: 80px;
    }
}
.dashboard #offcanvas-main .case {
    background-color: #474e60;
    border-radius: 10px !important;
    padding: 80px;
}
.dashboard #offcanvas-main .case h4 {
    color: #3fbb92;
}
.dashboard #offcanvas-main .case .form-style .custom-select + .arrow {
    background-color: #474e60;
}
.dashboard #offcanvas-main #contact-message {
    height: 226px;
}
.dashboard #offcanvas-footer {
    border-top: 1px solid #474e60;
}
.dashboard #offcanvas-footer .navbar-text,
.dashboard #offcanvas-footer .navbar-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff !important;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-footer .to-company {
        margin-left: -15px;
    }
}
.dashboard #offcanvas-footer .to-dashboard {
    background-color: transparent;
    border: 0 none transparent;
    padding: 30px 15px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
@media (min-width: 992px) {
    .dashboard #offcanvas-footer .to-dashboard {
        margin-right: -15px;
    }
}
.dashboard #offcanvas-footer .to-dashboard > .icon {
    margin-left: 10px;
    display: inline-block;
}
.dashboard #toolbar .toolbar-brand {
    border-bottom: 1px solid #474e60;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media (min-width: 992px) {
    .dashboard #toolbar .toolbar-brand {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 27px;
        line-height: 30px;
    }
}
.dashboard #toolbar .toolbar-nav > li.dropdown .dropdown-menu {
    background-color: #353e4e !important;
    border: 0 transparent !important;
    margin: 0 !important;
    padding: 10px 0 !important;
    position: relative !important;
    float: none !important;
    box-shadow: none !important;
    transform: none !important;
    will-change: unset !important;
}
.dashboard #toolbar > .accordion > .card,
.dashboard #toolbar > .accordion > .card > .card-header {
    border: 0 none transparent;
    margin: 0;
    padding: 0;
}
.dashboard #toolbar > .accordion > .card {
    background-color: #474e60;
    border-bottom: 1px solid #474e60;
}
.dashboard #toolbar > .accordion > .card > .card-header {
    background-color: #353e4e;
}
.dashboard #toolbar > .accordion > .card > .card-header > .btn,
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a {
    background-color: transparent;
    margin: 0;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    display: block;
}
.dashboard #toolbar > .accordion > .card > .card-header > .btn {
    border: 0 transparent;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    white-space: unset;
}
.dashboard #toolbar > .accordion > .card > .card-header > .btn > .arrow {
    padding: 0 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.dashboard #toolbar > .accordion > .card > .card-header > .btn.collapsed > .arrow {
    padding-right: 17px;
}
.dashboard #toolbar > .accordion > .card > .card-header > .btn > .arrow > .icon {
    font-size: 16px;
}
.dashboard #toolbar > .accordion > .card > .card-header > .btn.collapsed > .arrow > .icon {
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li + li {
    border-top: 1px solid #353e4e;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a {
    padding-left: 40px;
    position: relative;
    font-size: 16px;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:active,
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:hover,
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:focus {
    background-color: #585f71;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:before,
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:before {
    height: 100%;
    top: 0;
    bottom: 0;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a:after {
    background: #fff;
    border-radius: 50%;
    margin-left: 20px;
    width: 5px;
    height: 5px;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a.active:before {
    background: #3fbb92;
    width: 5px;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a.active:after {
    background: #3fbb92;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body > .nav > li > a.active {
    font-weight: 400;
}
.dashboard #toolbar > .accordion > .card > .card-collapse > .card-body {
    padding: 0;
}
.dashboard .report + .report {
    border-top: 1px solid #eee;
    margin-top: 50px;
    padding-top: 49px;
}
.contextual-menu {
    margin-top: 115px;
    max-width: 273px;
}
.contextual-menu.affix {
    margin-right: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
.contextual-menu h4 {
    margin: -4px -1px -5px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #3fbb92;
}
.contextual-menu h4 + ul {
    padding-top: 20px;
}
.contextual-menu .nav > li > a {
    background-color: transparent;
    border: 0 transparent;
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    display: block;
    cursor: pointer;
}
.contextual-menu .nav > li > a:hover {
    background-color: #fafafa;
}
.contextual-menu .nav > li > a:before {
    position: absolute;
    left: 0;
    display: block;
    content: '';
}
.contextual-menu .nav > li > a:before {
    height: 100%;
    top: 0;
    bottom: 0;
}
.contextual-menu .nav > li > a.active {
    font-weight: 400;
}
.contextual-menu .nav > li > a.active:before {
    background-color: #3fbb92;
    width: 5px;
}
.panel {
    border: 1px solid #eee;
    border-radius: 8px !important;
    position: relative;
}
.panel .panel-label {
    background-color: #fff;
    margin-top: -15px;
    margin-left: 20px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    display: block;
}
.panel .panel-section {
    padding: 30px;
}
.panel .panel-section + .panel-section {
    border-top: 1px solid #eee;
}
.panel .panel-section .form-row + .form-action {
    padding-top: 30px;
}
.panel .panel-section .panel-button,
.dashboard #filters .dropdown .dropdown-menu > .dropdown-menu-action > .dropdown-menu-action-button {
    margin-top: -5px;
    margin-bottom: -6px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3fbb92;
    display: inline-block;
    cursor: pointer;
}
.panel .panel-section .panel-button.do-reset,
.dashboard #filters .dropdown .dropdown-menu > .dropdown-menu-action > .dropdown-menu-action-button.do-reset {
    color: #81818e;
}
.panel .panel-section .panel-button + .panel-button {
    margin-left: 20px;
}
.modal .modal-dialog.modal-report {
    max-width: 1380px;
}
.btn-trigger {
    line-height: 20px;
    font-size: 16px;
}
.btn-trigger > .icon {
    margin-right: 10px;
}
.img-fluid + .btn-trigger {
    margin-top: 20px;
}
.dashboard #filters .custom-select,
.dashboard #filters .dropdown-toggle {
    border-width: 2px;
    border-radius: 100px !important;
    padding: 0 13px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    text-align: left;
    color: #353e4e !important;
}
.dashboard #filters .custom-select:focus {
    box-shadow: none;
}
.dashboard #filters .dropdown .dropdown-toggle:after,
.dashboard #filters .dropdown .dropdown-toggle > .icon {
    margin: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.dashboard #filters .dropdown .dropdown-toggle > .icon {
    margin-top: 9px;
    margin-bottom: 9px;
}
.dashboard #filters .dropdown .dropdown-menu {
    border-width: 2px;
    border-radius: 8px !important;
    margin-top: 10px;
    padding: 0;
}
.dashboard #filters .dropdown .dropdown-menu > .dropdown-menu-node {
    padding: 13px;
}
.dashboard #filters .dropdown .dropdown-menu > .dropdown-menu-node + .dropdown-menu-node {
    border-top: 1px solid #eee;
}
.dashboard #filters .dropdown .dropdown-menu > .dropdown-menu-action {
    border-top: 0 none transparent !important;
}
.dashboard #filters .dropdown .dropdown-menu .custom-control {
    padding: 0;
    min-height: 20px;
    position: relative;
    display: block;
}
.dashboard #filters .dropdown .dropdown-menu .custom-control + .custom-control {
    margin-top: 10px;
}
.dashboard #filters .dropdown .dropdown-menu .custom-control .custom-control-label {
    padding-left: 30px;
    line-height: 20px;
    font-size: 14px;
}
.dashboard #filters .dropdown .dropdown-menu .custom-control .custom-control-label::before,
.dashboard #filters .dropdown .dropdown-menu .custom-control .custom-control-label::after {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.dashboard #filters .dropdown .dropdown-menu .custom-control .custom-control-label::before {
    background-color: #fff;
    border-color: #353e4e;
}
.dashboard #filters .dropdown .dropdown-menu .custom-control .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #3fbb92;
    background-color: #3fbb92;
}
.dashboard #filters .dropdown .dropdown-menu .custom-checkbox .custom-control-label::before {
    border-radius: 2px !important;
}
.dashboard #filters .filter-test-orders > .dropdown-toggle,
.dashboard #filters .filter-test-orders > .dropdown-menu {
    border-color: rgba(255, 198, 78, 0.2);
}
.dashboard #filters .filter-dates > .dropdown-toggle,
.dashboard #filters .filter-dates > .dropdown-menu {
    border-color: rgba(88, 95, 171, 0.2);
}
.dashboard #filters .filter-roles > .dropdown-toggle,
.dashboard #filters .filter-roles > .dropdown-menu {
    border-color: rgba(248, 157, 73, 0.2);
}
.dashboard #filters .filter-locations > .dropdown-toggle,
.dashboard #filters .filter-locations > .dropdown-menu {
    border-color: rgba(63, 187, 146, 0.2);
}
.dashboard #filters .filter-departments > .dropdown-toggle,
.dashboard #filters .filter-departments > .dropdown-menu {
    border-color: rgba(142, 111, 177, 0.2);
}
.dashboard #tags {
    margin-bottom: -10px;
    margin-right: -10px;
}
.dashboard #tags + .report {
    margin-top: 44px;
}
.dashboard #tags .tag {
    border-width: 2px;
    border-radius: 100px !important;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 13px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #353e4e !important;
    display: inline-block;
}
.dashboard #tags .tag-test-orders {
    background-color: rgba(255, 198, 78, 0.2);
    border-color: rgba(255, 198, 78, 0.2);
}
.dashboard #tags .tag-dates {
    background-color: rgba(88, 95, 171, 0.2);
    border-color: rgba(88, 95, 171, 0.2);
}
.dashboard #tags .tag-roles {
    background-color: rgba(248, 157, 73, 0.2);
    border-color: rgba(248, 157, 73, 0.2);
}
.dashboard #tags .tag-locations {
    background-color: rgba(63, 187, 146, 0.2);
    border-color: rgba(63, 187, 146, 0.2);
}
.dashboard #tags .tag-departments {
    background-color: rgba(142, 111, 177, 0.2);
    border-color: rgba(142, 111, 177, 0.2);
}
